 <tr>
    <td>
      <h2>#<%=email.id%> <%= email.object%></h2> 
    </td>
  </tr>
  <tr>
    <td>
      <%= email.body %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Supprimer", email_path(email.id),:class => "btn btn-danger btn-sm ", remote: true, :method => :delete %>
      
      <% if (email.read)%>
          <%= link_to "Marquer comme non lu",email_path(email.id), :class => "btn btn-outline-secondary btn-sm ", remote: true, :method => :put %>
      <%else%>
          <%= link_to "Marquer comme lu",email_path(email.id), :class => "btn btn-outline-secondary btn-sm ", remote: true, :method => :put %>
      <%end%>
    </td>
  </tr>